.ui.borderless.topmenu.menu {
  box-shadow: none;
  border: none;
}

.ui.borderless.topmenu2.menu {
  font-size: 13px;
  font-family: Helvetica, "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
  padding: 8px 15px;
  box-shadow: none;
  border: none;
}


.ui.borderless.middlemenu.menu {
  background: url("https://cdn.shopify.com/s/files/1/1621/8265/files/11_181321ad-0a10-43ba-a575-75815c48b9cb_1400x.jpg?v=1631897406") no-repeat center center fixed;
  background-size: cover;
  height: 1000px;
}

ui.centered.header {
  font-size: 9px;
  font-family: Helvetica, "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
}

.footer.menu {
  font-size: 12px;
  font-family: Helvetica, "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
}

.logos {
  font-size: 30px;
}

.columnsss {
  margin: 500px;
}